body {
}
.App {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  font-size: 19px;
}
h1 {
  text-align: center;
}
input {
  border-radius: 5px;
  font-size: 20px;
}
textarea {
  border-radius: 5px;
  font-size: 20px;
}
.errorspan {
  font-size: 15px;
  color: red;
}
button {
  cursor: pointer;
}
